/*
  CSS voor Social Media project
  Admin gedeelte
  autheur: Haki Karer Taylan
*/

body {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 16px;
  line-height: 1.5em;
}

p {
  font-size: 0.75em;
  padding: 1em;
  line-height: 1.5em;
}
